body{
    background-color: black;
    align-items: center;
}
img{
   border: 5px solid white;
   margin-top: 100px;

}
div{
 width: 100%;
  
 text-align: center;
 color: aliceblue;
}
h2{
    font-family: Sekuya;
}
h1{
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif 
}